<head>
  <meta charset="utf-8">
  <title>Compare Commutes</title>
  <script src="{{htmlWebpackPlugin.options.mb_src}}/mapbox-gl.js"></script>
  <link href="{{htmlWebpackPlugin.options.mb_src}}/mapbox-gl.css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
  <div class="container-fluid">
    <div id="col-left" class="col-md-8 col-sm-12">
      <div id="map"></div>
    </div>
    <div id="col-right" class="col-md-4 col-sm-12">
      {{#each htmlWebpackPlugin.options.sections}}
        <div id="{{this.name}}-section" class="col-xs-12 collapsible">
          <h3>
            {{this.name}}
            <a href="#" id="add-{{this.name}}" title="{{this.addTitle}}"
            class="add btn btn-default">
             +
            </a>
            <a href="#" id="delete-{{this.name}}" title="{{this.deleteTitle}}"
              class="delete btn btn-default"> -
            </a>
          </h3>
        </div>
      {{/each}}
    </div>
  </div>
</body>
